.container{
    display: grid;
    grid-template-columns: repeat(2, 320px);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 10px;
    background-color: black;
    opacity: 90%;
    color: white;
    position: relative;
    width: fit-content;
    top: 35px;
    left: 5px;
}