*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Fira Sans", serif;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: white;
    position: fixed;
    width: 100%;
}

.nav{
    position: relative;
}

.navbar.scrolled{
    background: linear-gradient(177deg, rgba(101,138,142,1) 0%, rgba(126,134,139,1) 100%);
    z-index: 1000;
}

.navbar h1{
    font-size: 3rem;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin: 0 20px;
}

.navbar ul li a{
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .5s;
}

.navbar ul li a:hover{
    background-color: #ffc0cc;
    color: black;
}

.active{
    background-color: #ffc0cc;
    color: black !important;
}

.header{
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../material/Jeep-car.png");
    background-size: cover;
    height: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-content h1{
    color: white;
    font-weight: 450;
    font-size: 3.4rem;
    max-width: 500px;
}

.header-content i{
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 20px;
    font-size: 1.5rem;
    margin: 0 5px;
    cursor: pointer;
    transition: .5s;
}

.header-content i:hover{
    background-color: white;
    color: black;
}

.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
    margin-bottom: 100px;
}

.slides{
    align-self: end;
}

.about{
    padding: 20px;
    padding: 50px 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.about h1{
    font-size: 3rem;
}

.about-para{
    margin: 15px 0;
}

.divider
{
    background-color: black;
    margin: 20px 0;
    width: 150px;
    height: 2px;
    max-width: 150px;
}

.price{
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 10px;
}

.notes{
    font-size: 10px;
    margin-bottom: 30px;
}

.book-now{
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background-color: #ffc0cc;
    width: fit-content;
}

.book{
    font-size: 1rem;
}

.discount{
    font-size: 10px;
}

.cars{
    display: grid;
    grid-template-columns: repeat(3, 355px);
    justify-content: center;
    padding: 50px 0;
    padding-left: 60px;
}

.cars img{
    width: 290px;
    height: 260px;
}

.image-left p, .image-center p, .image-right p{
    position: relative;
    bottom: 40px;
    left: 20px;
    color: white;
    font-size: 15px;
}

.video{
    display: flex;
    justify-content: center;
    height: 500px;
    margin-bottom: 10px;
}
.video iframe{
    height: 100%;
    width: 1000px;
}

.black{
    background-color: black;
    color: white;
}

.gray{
    background-color: rgb(231, 231, 231);
}

td{
    padding: 20px;
}

table{
    margin-top: 20px;
    width: 85%;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 gray;
    border-collapse: collapse;
}

.specs{
    padding: 20px;
    padding: 50px 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.specs h1{
    font-size: 3rem;
}

.specs-para{
    margin: 15px 0;
}

.contact{
    padding: 20px;
    padding: 50px 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background: rgb(101,138,142);
    background: linear-gradient(177deg, rgba(101,138,142,1) 0%, rgba(126,134,139,1) 100%);

    color: white;
}

.contact h1{
    font-size: 3rem;
}

.contact-para{
    margin: 15px 0;
}

form{
    margin: 40px;
    text-align: center;
}

form .top{
    display: flex;
    justify-content: space-around;
}

input{
    padding: 10px;
    border-radius: 2px;
    border: none;
    width: 150px;
    margin: 0 10px;
}

textarea{
    margin: 10px;
    width: 97.5%;
    height: 100px;
    padding: 10px;
}

form button{
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    background-color: #ffc0cc;
}

.footer{
    padding: 100px;
    color: white;
    background-color: black;
}

.footer h2{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer p{
    font-size: 10px;
}

.copyrights{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}


.center-social{
    margin: 0 5px;
}

.twitter{
    margin-left: 10px;
}

button{
    cursor: pointer;
}

.bars{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    display: none;
}

@media screen and (max-width:1024px){
    .navbar ul{
        display: none;
    }

    .bars{
        display:block;
    }

    .header-content{
        justify-content: center;
        flex-direction: column;
    }

    .header-content h1
    {
        font-size: 2.5rem;
        margin-top: 100px;
        width: 90vw;
        padding: 0 20px;
        margin-bottom: 10px;
    }

    .slides{
        align-self: center;
        width: 90vw;
        text-align: center;
        margin-top: 10px;
    }

    .slides i{
        font-size: 1.2rem;
        padding: 15px;
    }

    .cars{
        grid-template-columns: 100%;
        padding: 30px 0;
        max-width: 100vw;
        overflow: hidden;
    }

    .image-left, .image-center, .image-right{
        justify-items: center;
    }

    .image-left p, .image-center p, .image-right p{
        width: fit-content;
        left: -5px;
    }

    .video{
        height: 200px;
        margin-bottom: 30px;
    }
    .video iframe{
        height: 100%;
        width: 293px;
    }
    .copyrights{
        flex-direction: column;
    }
    .footer{
        padding: 100px 30px;
    }

    form .top{
        flex-direction: column;
    }

    form .top input{
        margin-bottom: 10px;
        max-width: 100%;
        width: 240px;
    }

    form .bottom textarea{
        width: 240px;
        margin: 0;
        margin-bottom: 10px;
    }

    .contact{
        padding: 53px 21%;
        background-color: blue;
    }
}