.container{
    display: flex;
    border: 2px solid rgb(249, 142, 43);
    width: 500px;
    height: 300px;
}
div{
    color: white;
    padding: 10px;
    font-weight: bold;
}
.one{
    background-color: rgb(26 188 156);
    margin-top: 20px;
    align-self: self-start;
}
.two{
    background-color: rgb(52 152 219);
    align-self:self-start;
}
.three{
    background-color: rgb(155 89 182);
    align-self:self-start;
}
.four{
    background-color: rgb(52 73 94);
}
.five{
    background-color: rgb(241 196 15);
    align-self:center;
}
.six{
    background-color: rgb(230 126 34);
    align-self:self-start;
}
.seven{
    background-color: rgb(231 76 60);
    align-self:self-start;
}
.eight{
    background-color: rgb(189 195 199);
    align-self:self-start;
}
.nine{
    background-color: rgb(46 204 113);
    align-self:self-start;
}
.ten{
    background-color: rgb(22 160 133);
    align-self: self-end;
}