div{
    height: 200px;
    width: 200px;
}

.abs{
    position: absolute;
}

.pink{
    background-color: rgb(240 61 100);
    top: 0;
    left: 0;
}

.blue{
    background-color: rgb(68 172 207);
    top: 0;
    right: 0;
}

.green{
    background-color: rgb(184 215 75);
    bottom: 0;
    left: 0;
}

.yellow{
    background-color: rgb(235 222 82);
    bottom: 0;
    right: 0;
}