.red{
    color: red;
}

#blue{
    color: blue;
}

.colors{
    background-color: rgb(212 240 241);
    font-family: Arial, Helvetica, sans-serif;
}

.even-and-odd{
    background-color: rgb(245 219 253);
    text-align: center;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.even-and-odd p:nth-child(odd){
    color: rgb(34 34 136);
}

.even-and-odd p:nth-child(even){
    color: rgb(204 55 29);
}

.header1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(108 133 92);
    font-size: 2.5rem;
}

.header2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100 216 236);
}

#boss {
    color: rgb(148 185 52);
    background-color: aqua;
}