body {
    background-color: rgb(126 255 212);
}

.para-1{
    background-image: url("/Solve_HTML_CSS_Task/material/background1.jpg");
    background-size: cover;
}

.para-2{
    background-image: url("/Solve_HTML_CSS_Task/material/background2.jpg");
    background-size: cover;
}

.para-3{
    background-image: url("/Solve_HTML_CSS_Task/material/background3.png"), url('/Solve_HTML_CSS_Task/material/background1.jpg');
    background-position: right, left;
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, 50%;
}