body{
    background-color: rgb(255 255 204);
}

h1{
    color:rgb(153 0 0);
}
.cyan{
    background-color:rgb(0 255 255);
}
.pink{
    background-color: rgb(255 0 255);
}
.red{
    background-color: rgb(254 0 0);
}