*{
    box-sizing: border-box;
}

.diagonal-colors{
    padding: 50px 30px;
    text-align: center;
    width: 100%;
    border: 1px solid black;
    background:linear-gradient(185deg, #1f1f7a, #80005a 50%, #d4ff00 50%, #05c605);
}